<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація користувача</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">

    <div class="mb-4">
        <a href="/ui/addresses/" class="btn btn-secondary">Перейти до адрес</a>
        <a href="/ui/orders/" class="btn btn-secondary">Перейти до замовлень</a>
        <a href="/ui/users/" class="btn btn-secondary">Перейти до користувачів</a>
    </div>

    <h1>Реєстрація нового користувача</h1>

    <form th:action="@{/ui/users/register}" th:object="${user}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Логін</label>
            <input type="text" id="username" th:field="*{username}" class="form-control" placeholder="Введіть логін">
            <div th:if="${#fields.hasErrors('username')}" class="text-danger">
                <span th:errors="*{username}"></span>
            </div>
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Ім'я</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Введіть ім'я">
        </div>

        <div class="mb-3">
            <label for="surname" class="form-label">Прізвище</label>
            <input type="text" id="surname" th:field="*{surname}" class="form-control" placeholder="Введіть прізвище">
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Номер телефону</label>
            <input type="text" id="phone" th:field="*{phone}" class="form-control" placeholder="Введіть номер телефону">
            <div th:if="${#fields.hasErrors('phone')}" class="text-danger">
                <span th:errors="*{phone}"></span>
            </div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" id="password" th:field="*{password}" class="form-control"
                   placeholder="Введіть пароль">
            <div th:if="${#fields.hasErrors('password')}" class="text-danger">
                <span th:errors="*{password}"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Зареєструватися</button>
    </form>

    <hr>

    <p>Вже маєте акаунт? <a th:href="@{/ui/users/login}">Увійти</a>

    <div th:if="${error != null}" class="alert alert-danger mt-3">
        <span th:text="${error}"></span>
    </div>
</div>
</body>
</html>
