<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Список користувачів</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h1>Список користувачів</h1>

  <table class="table table-bordered mt-4">
    <thead>
    <tr>
      <th>Логін</th>
      <th>Дії</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.username}"></td>
      <td>
        <a th:href="@{/ui/users/edit/{id}(id=${user.id})}" class="btn btn-warning">Редагувати</a>
        <a th:href="@{/ui/users/delete/{id}(id=${user.id})}" class="btn btn-danger">Видалити</a>
      </td>
    </tr>
    </tbody>
  </table>

  <hr>

  <a href="/ui/users/register" class="btn btn-primary">Зареєструвати нового користувача</a>
</div>
</body>
</html>
